.selectBlock{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    color: maroon;
    font-weight: 700;
}
.select{
    width: 10rem;
    height: 2rem;
    margin: 1rem;
    font-size: 1.2rem;
    background-color: aquamarine;
    color: maroon;
    font-weight: 700;
}